ago==0.1.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
alembic==1.15.1
annotated-types==0.7.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.1.0
Automat==24.8.1
backports.tarfile==1.2.0
beautifulsoup4==4.13.3
bertopic==0.17.0
blis==1.2.0
boto3==1.37.16
botocore==1.37.16
bs4==0.0.2
catalogue==2.0.10
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpathlib==0.21.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
constantly==23.10.4
contourpy==1.3.1
cryptography==44.0.2
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
docutils==0.21.2
dotmap==1.3.30
elastic-transport==8.17.1
elasticsearch==8.17.2
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
et_xmlfile==2.0.0
exceptiongroup==1.2.2
executing==2.2.0
fastjsonschema==2.21.1
faust-cchardet==2.1.19
feedfinder2==0.0.4
feedparser==6.0.11
filelock==3.17.0
fonttools==4.56.0
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.3.0
greenlet==3.1.1
h11==0.14.0
hdbscan==0.8.40
hjson==3.1.0
huggingface-hub==0.29.3
hurry.filesize==0.9
hyperlink==21.0.0
id==1.5.0
idna==3.10
importlib_metadata==8.6.1
incremental==24.7.2
ipykernel==6.29.5
ipython==8.34.0
itemadapter==0.11.0
itemloaders==1.3.2
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jieba3k==0.35.1
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keyring==25.6.0
kiwisolver==1.4.8
langcodes==3.5.0
langdetect==1.0.9
language_data==1.3.0
llvmlite==0.44.0
lxml==5.3.1
lxml_html_clean==0.4.1
Mako==1.3.9
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
more-itertools==10.6.0
mpmath==1.3.0
multidict==6.1.0
multitasking==0.0.11
murmurhash==1.0.12
narwhals==1.31.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
news-fetch==0.3.0
news-please==1.6.13
newspaper3k==0.2.8
newspaper4k==0.9.3.1
nh3==0.2.21
nltk==3.9.1
numba==0.61.0
numpy==1.26.4
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parsel==1.10.0
parso==0.8.4
peewee==3.17.9
pillow==11.1.0
plac==1.4.3
platformdirs==4.3.6
plotly==6.0.1
preshed==3.0.9
prompt_toolkit==3.0.50
propcache==0.3.0
Protego==0.4.0
psutil==7.0.0
psycopg2-binary==2.9.10
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
PyDispatcher==2.0.7
Pygments==2.19.1
PyMySQL==1.1.1
pynndescent==0.5.13
pyodbc==5.2.0
pyOpenSSL==25.0.0
pyparsing==3.2.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.1
pywin32==309
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.2.1
queuelib==1.7.0
readability-lxml==0.8.1
readme_renderer==44.0
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
rpds-py==0.23.1
s3transfer==0.11.4
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
Scrapy==2.12.0
seaborn==0.13.2
selenium==4.29.0
sentence-transformers==3.4.1
service-identity==24.2.0
sgmllib3k==1.0.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.39
srsly==2.5.1
stack-data==0.6.3
sympy==1.13.1
tenacity==9.0.0
thinc==8.3.4
threadpoolctl==3.5.0
tinysegmenter==0.3
tldextract==5.1.3
tokenizers==0.21.0
tomli==2.2.1
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.49.0
trio==0.29.0
trio-websocket==0.12.2
twine==6.1.0
Twisted==24.11.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
umap-learn==0.5.7
Unidecode==1.3.8
urllib3==2.3.0
user-agent==0.1.10
user-agents==2.2.0
w3lib==2.3.1
warcio==1.7.5
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
yarl==1.18.3
yfinance==0.2.54
zipp==3.21.0
zope.interface==7.2
